# Pre-requirements that are installed before sanitized requirements
# These requirements are installed directly without being subject to exclusions
# Format: standard pip requirements format (package names, versions, etc.)
# Example:
# requests>=2.25.0
xmlsec>1.3.13
# replacement for DAB entry that conflicts with AWX
django-oauth-toolkit==2.3.0
# HACK: take control of protobuf ecosystem because AWX & aap-gateway give different values
# if not done, the opentelemetry libs in tower will fail at runtime
protobuf==4.25.3  # the direct tower requirement
# protobuf==5.29.5  # minimum pin of some gateway libs
googleapis-common-protos==1.63.0
opentelemetry-proto==1.24.0
# xds-protos, this and grpcio-tools seem to be non-conflicting bw tower & aap-gateway
# However, they maintain a minimum version of protobuf, so this undercuts gateway's minimum
grpcio-tools==1.58.0
xds-protos==1.58.3
